* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f9f9f9;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 30px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

aside {
    background: #f4f4f4;
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sections-container {
    display: flex;
    width: 75%;
    padding-left: 30px;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    box-sizing: border-box;
}

section#seccion0 {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

section#seccion0 video {
    max-width: 100%;
    height: auto;
}

.profile-container {
    width: 63%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    box-sizing: border-box;
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

.profile-container p {
    font-size: 1rem;
    line-height: 1.8;
    color: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}
