/* Css de la plantilla*/

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 15px;
}

.sections-container {
    width: 100%;
}

aside {
    background: #f4f4f4;
    padding: 15px;
    width: 25%;
}

section {
    flex-grow: 1;
    padding: 15px;
    text-align: justify;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* De aqui en adelante colocar el css para los ejercicios*/

#contenedor {
    display: grid;
    grid-template-areas:
      "header header header header header header"
      "menu main main main right right"
      "menu footer footer footer footer footer";
    border: 3px solid rgb(37, 102, 115);
    gap: 5px;
    padding: 10px;
  }
  .item {
    border: 2px solid rgb(37, 102, 115);
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 163, 184);
    padding: 20px 0;
    font-size: 2em;
  }
  .header {
    grid-area: header;
  }
  .menu {
    grid-area: menu;
  }
  .main {
    grid-area: main;
  }
  .right {
    grid-area: right;
  }
  .footer {
    grid-area: footer;
  }