/* Css de la plantilla*/

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 15px;
}

.sections-container {
    width: 100%;
}


section {
    flex-grow: 1;
    padding: 15px;
    text-align: justify;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* De aqui en adelante colocar el css para los ejercicios*/

#contenedor {
    display: grid;
    grid-template: repeat(2, minmax(200px, 3fr)) 1fr/ 1fr repeat(2, 2fr) 2fr;
    border: 3px solid rgb(0, 0, 0);
    gap: 5px;
  }
  .item {
    border: 1px solid rgb(200, 0, 0);
    text-align: center;
    font-size: 1.5em;
  }
  .header {
    background: rgb(105, 237, 126);
    grid-row: 1/2;
    grid-column: 1/5;
  }
  .navegacion {
    background-color: rgb(186, 121, 33);
    grid-row: 2/4;
  }
  .main {
    background-color: rgb(66, 215, 230);
    grid-row: 2/2;
    grid-column: 2/4;
  }
  .aside {
    background-color: rgb(184, 211, 54);
    grid-row: 2/3;
  }
  .footer {
    background-color: rgb(100, 200, 120);
    grid-column: 2/5;
  }
  