/* Css de la plantilla*/

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 15px;
}

.sections-container {
    width: 100%;
}

aside {
    background: #f4f4f4;
    padding: 15px;
    width: 25%;
}

section {
    flex-grow: 1;
    padding: 15px;
    text-align: justify;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* De aqui en adelante colocar el css para los ejercicios*/
header[id="encabezado"] {
    background-color: rgba(16, 40, 108, 0.8);
    width: 100%;
    height: 60px;
}

header[id="encabezado"] > h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

figure img {
    width: 100px;
    padding: 5px;
}

#java:hover, #php:hover,#mysql:hover {
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.contenedor_imagenes {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    margin: 10px auto;
    border: 2px solid rgb(255, 255, 255);
}

.contenedor_imagenes div {
    text-align: center;
    font-family: verdana, arial, sans-serif;
    font-size: 20px;
    margin: 5px;
}

#base_line {
    display: flex;
    align-items: baseline;
}

#center {
    display: flex;
    align-items: center;
    height: 300px;
    width: 100%;
}

#flex_start {
    display: flex;
    align-items: flex-start;
    height: 300px;
}

#flex_end {
    display: flex;
    align-items: flex-end;
    height: 300px;
}

#stretch {
    display: flex;
    align-items: stretch;
    height: 200px;
}

#java {
    border: 2px solid rgb(230, 230, 0);
    box-shadow: 2px 5px 8px rgb(215, 230, 0);
}

#java:hover {
    box-shadow: 4px 6px 10px rgb(230, 215, 0);
}

#php {
    border: 2px solid rgb(117, 143, 209);
    box-shadow: 2px 5px 8px rgb(130, 171, 187);
}

#php:hover {
    box-shadow: 4px 6px 10px rgb(142, 130, 187);
}

#mysql {
    border: 2px solid rgb(240, 240, 240);
    box-shadow: 2px 5px 8px rgb(255, 255, 255);
}

#mysql:hover {
    box-shadow: 4px 6px 10px rgb(255, 255, 255);
}  